# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

#building
output
releases


# dependencies
/node_modules
/.pnp
.pnp.js

# generated data (only local)
/data
/extracted-textures
/public
/vendor